/* Variables */
/*$list-box-text: #928f75;*/
/* Imports */
.how-to {
  margin: 5px 0; }
  .how-to h3 {
    font-weight: bold;
    margin-bottom: 20px; }

.my-recipes-list-title {
  width: 85%;
  margin: 15px 0 0 0;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  display: block; }

.my-recipes-list-title#first-child {
  margin-top: 0; }

.my-recipes-list-title p.list-box-info {
  display: inline;
  transition: margin-left 0.4s ease; }

.my-recipes-list-title {
  transition: all 0.4s ease; }
  .my-recipes-list-title .arrow {
    transition: border-color 0.4s ease; }

.my-recipes-list-title:hover {
  cursor: pointer;
  color: #f4f1de;
  background-color: #e78c73; }
  .my-recipes-list-title:hover p.list-box-info {
    margin-left: 10px; }
  .my-recipes-list-title:hover .arrow {
    border-color: #f4f1de; }

.recipe-title {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px; }
  .recipe-title .name {
    display: flex;
    width: 100%;
    margin-right: 10px; }
    .recipe-title .name h3,
    .recipe-title .name textarea {
      font-size: 20px;
      font-weight: bold;
      padding: 0 6px; }
    .recipe-title .name textarea {
      width: 100%;
      background-color: #f4f1de;
      border: 1px dashed #d2ceb0;
      padding: 0;
      resize: none; }
  .recipe-title .recipe-edit img {
    height: auto;
    width: 30px;
    margin-left: 4px;
    transition: transform 0.3s ease; }
  .recipe-title .recipe-edit img:hover {
    transform: scale(1.2);
    cursor: pointer; }

.recipe-stats {
  display: flex;
  width: 85%; }
  .recipe-stats div {
    background-color: #e07a5f;
    color: #f4f1de;
    width: 50%;
    padding: 12px 0;
    text-align: center;
    transition: background-color 0.3s ease; }
  .recipe-stats div.editing {
    background-color: #e4b3a6; }
  .recipe-stats div:first-child {
    margin-right: 10px; }
  .recipe-stats div:last-child {
    margin-left: 10px; }
  .recipe-stats div.serves {
    display: flex;
    justify-content: center; }
  .recipe-stats div.serves img {
    height: auto;
    width: 20px;
    margin-right: 10px; }
  .recipe-stats div.serves:hover {
    background-color: #e78c73;
    cursor: pointer; }
  .recipe-stats div.editing:hover {
    background-color: #e4b3a6;
    cursor: default; }

.recipe-list-title {
  width: 85%;
  margin: 18px 0 0 0;
  border-radius: 10px 10px 0 0;
  display: block; }

.recipe-list-title#first-child {
  margin-top: 25px; }

.ingredients-header {
  display: flex;
  flex-wrap: nowrap;
  padding: 4px 0;
  width: 85%;
  border: 1px solid #e4b3a6;
  background-color: #e4b3a6;
  color: #f4f1de;
  text-align: center; }
  .ingredients-header #first-child {
    width: 25%;
    padding-left: 10px; }
  .ingredients-header #second-child {
    width: 20%; }
  .ingredients-header #third-child {
    width: 55%;
    padding-right: 10px; }

button.general.recipe {
  background-color: #fcfaf1;
  color: #e07a5f;
  border: 1px solid #e07a5f;
  margin: 0 0 4px 0;
  font-size: 18px; }

button.general.recipe:hover {
  color: #f4f1de; }

div.list-box.recipe li {
  width: 100%;
  display: list-item; }

div.list-box.recipe li:hover {
  margin-left: 0;
  cursor: default; }

div.list-box.recipe ol {
  list-style: decimal;
  list-style-position: inside; }

div.serves.editing,
div.cook-time.editing {
  display: flex;
  justify-content: flex-start;
  background-color: #fcfaf1;
  color: #e07a5f;
  padding: 0; }
  div.serves.editing textarea,
  div.cook-time.editing textarea {
    width: 35%;
    background-color: #fcfaf1;
    color: #46442e;
    border: 1px dashed #d2ceb0;
    resize: none;
    padding: 12px 0;
    text-align: center; }
  div.serves.editing p,
  div.cook-time.editing p {
    width: 65%;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #e07a5f; }

div.serves.editing textarea {
  border-width: 1px 1px 1px 0; }

div.cook-time.editing textarea {
  border-width: 1px 0 1px 1px; }

div.serves.editing:hover,
div.cook-time.editing:hover {
  background-color: #fcfaf1; }

div.list-box.edit-ingredients ul {
  border-width: 1px 1px 0 1px; }

div.list-box.edit-ingredients textarea {
  width: 20%;
  background-color: #fcfaf1;
  padding: 0;
  resize: none;
  border: 1px dashed #d2ceb0;
  color: #46442e; }

div.list-box.edit-ingredients textarea#first-child {
  width: 25%;
  margin-right: 10px; }

div.list-box.edit-ingredients textarea#last-child {
  width: 55%;
  margin-left: 10px; }

div.list-box.edit-ingredients li {
  display: flex; }

div.list-box.edit-ingredients .delete-item {
  width: 24px;
  height: auto;
  position: absolute;
  right: 8%;
  transition: transform 0.3s ease; }

div.list-box.edit-ingredients .delete-item:hover {
  transform: scale(1.1);
  cursor: pointer; }

@media screen and (min-width: 900px) {
  div.list-box.edit-ingredients .delete-item {
    right: 0;
    /* Do something elese */ } }

div.list-box.edit-steps ol {
  border-width: 1px 1px 0 1px; }

div.list-box.edit-steps li,
div.list-box.edit-notes li {
  display: flex; }

div.list-box.edit-steps textarea,
div.list-box.edit-notes textarea {
  border: 1px dashed #d2ceb0;
  background-color: #fcfaf1;
  padding: 0;
  resize: none;
  color: #46442e;
  width: 100%;
  display: inline; }

div.list-box.edit-steps .delete-item,
div.list-box.edit-notes .delete-item {
  width: 24px;
  height: auto;
  position: absolute;
  right: 8%;
  transition: transform 0.3s ease; }

div.list-box.edit-steps .delete-item:hover,
div.list-box.edit-notes .delete-item:hover {
  transform: scale(1.1);
  cursor: pointer; }

@media screen and (min-width: 900px) {
  div.list-box.edit-steps .delete-item,
  div.list-box.edit-notes .delete-item {
    right: 0;
    /* Do something else */ } }

.list-box.recipe#tag-box li {
  width: auto; }

.list-box.recipe#tag-box li:hover {
  transform: scale(1);
  cursor: default; }

div.list-box.recipe.edit-tags ul {
  border-width: 1px 1px 0 1px; }

div.list-box.recipe.edit-tags .delete-item {
  width: 20px;
  height: auto;
  transition: transform 0.3s ease;
  margin: 0 5px; }

div.list-box.recipe.edit-tags .delete-item:hover {
  transform: scale(1.1);
  cursor: pointer; }

.add-tag-btn-in {
  width: 85%;
  display: flex; }
  .add-tag-btn-in input {
    width: 65%;
    padding: 8px 5%;
    border-style: solid;
    border-color: #d2ceb0;
    border-width: 1px 0 1px 1px;
    background-color: #fffefa; }
  .add-tag-btn-in button {
    width: 35%;
    padding: 8px 12px;
    background-color: #fcfaf1;
    color: #e07a5f;
    border: 1px solid #e07a5f;
    transition: all 0.3s ease; }
  .add-tag-btn-in button:hover {
    color: #f4f1de;
    background-color: #e07a5f;
    cursor: pointer; }

.db-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .db-btns button.general {
    margin: 0; }
  .db-btns button.general:last-child {
    margin-top: 18px; }

.loading-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.loading-content img.loading {
  margin: 40px 0 20px 0; }

.pie-logo.loading {
  animation: rotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loading-content p:after {
  content: '...';
  animation: ellipsis-dot 1.2s infinite 0.3s;
  animation-fill-mode: forwards;
  font-family: monospace;
  font-size: 12px; }

@keyframes ellipsis-dot {
  25% {
    content: '\00a0\00a0\00a0'; }
  50% {
    content: '.\00a0\00a0'; }
  75% {
    content: '..\00a0'; }
  100% {
    content: '...'; } }

@font-face {
  font-family: 'Raleway Flex';
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("woff2 supports variations"), url("../fonts/Raleway-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 25% 151%; }

@font-face {
  font-family: 'Raleway Italic Flex';
  src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("woff2 supports variations"), url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 25% 151%; }

/* Global reset */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  text-decoration: none; }

/* Styling */
body {
  background-color: #f4f1de;
  font-family: 'Raleway Flex', 'sans-serif';
  font-size: 20px; }

.content {
  padding: 0 50px;
  max-width: 800px;
  margin: 0 auto; }
  @media screen and (max-width: 600px) {
    .content {
      padding: 0 2%; } }

div.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 0 2px 4px; }

div.arrow.right {
  transform: rotate(-45deg); }

div.arrow.left {
  transform: rotate(135deg); }

.navbar .header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #e07a5f;
  position: relative;
  z-index: 2; }

.navbar .nav {
  transform: translateY(-100vh);
  background-color: #e07a5f;
  transition: transform 0.4s cubic-bezier(0, 0.52, 0, 1);
  position: absolute;
  top: 49;
  left: 0;
  width: 100%;
  z-index: 1; }

.navbar .nav.clicked {
  transform: translateY(0vh); }

.navbar p,
.navbar a {
  color: #f4f1de; }

.navbar .brand {
  display: flex; }
  .navbar .brand a {
    font-weight: bold;
    font-size: 24px; }
  .navbar .brand img {
    height: auto;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 4px;
    display: block; }

.navbar div.nav-ham {
  display: inline-block;
  cursor: pointer;
  border: 2px solid #f4f1de;
  border-radius: 8px;
  padding: 0 6px;
  transition: background-color 0.4s ease; }
  .navbar div.nav-ham .ham1,
  .navbar div.nav-ham .ham2,
  .navbar div.nav-ham .ham3 {
    width: 30px;
    height: 2px;
    background-color: #f4f1de;
    margin: 6px 0;
    transition: 0.4s; }

.navbar .change-state.nav-ham {
  background-color: #f1ad9b; }

.navbar .change-state .ham1 {
  transform: rotate(-45deg) translate(-6.5px, 5.5px) scale(0.8, 1); }

.navbar .change-state .ham2 {
  opacity: 0; }

.navbar .change-state .ham3 {
  transform: rotate(45deg) translate(-5.5px, -5.5px) scale(0.8, 1); }

.navbar ul {
  padding: 0 0 10px 15px; }

.navbar ul.nav li {
  list-style-type: none;
  font-size: 24px;
  padding-bottom: 8px; }

.line-br {
  background-color: #d2ceb0;
  height: 1px;
  width: 85%;
  margin: 20px 0; }

.react-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.intro-text {
  margin-top: 50px; }
  .intro-text p {
    text-align: center;
    margin-bottom: 10px; }
  .intro-text p a {
    font-weight: bold; }
  .intro-text strong {
    font-weight: bold; }

img.pie-logo {
  height: auto;
  width: 60px;
  margin: 30px 20px 10px 20px; }

form.general-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 85%; }
  form.general-form input,
  form.general-form button {
    width: calc(100% - 32px);
    margin: 12px 0;
    padding: 14px 16px;
    border: 1px solid #d2ceb0;
    transition: border-color 0.4s ease; }
  form.general-form input::placeholder {
    color: #d2ceb0; }
  form.general-form input:hover {
    border-color: #e07a5f; }
  form.general-form button[type='submit'] {
    background-color: #e07a5f;
    border: none;
    color: #f4f1de;
    width: 100%;
    margin-bottom: 20px;
    transition: background-color 0.4s ease; }
  form.general-form button[type='submit']:disabled {
    background-color: #e4b3a6; }
  form.general-form button[type='submit']:hover {
    cursor: pointer;
    background-color: #e78c73; }
  form.general-form button[type='submit']:disabled:hover {
    cursor: not-allowed;
    background-color: #e4b3a6; }

.google-auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: #e07a5f;
  transition: background-color 0.4s ease; }
  .google-auth img {
    width: 24px;
    height: auto;
    display: block;
    transition: transform 0.5s ease; }
  .google-auth .google-logo {
    background-color: #f4f1de;
    padding: 4px;
    border-radius: 100%; }
  .google-auth p {
    padding: 14px 0;
    color: #f4f1de;
    margin-left: 10px; }

.google-auth:hover {
  cursor: pointer;
  background-color: #e78c73; }
  .google-auth:hover img {
    transform: rotate(360deg); }

p.list-box-info {
  width: 85%;
  margin: 20px 0 10px 0; }

p.list-box-info:first-of-type {
  margin-top: 5px; }

div.list-box {
  width: 85%;
  font-size: 18px; }
  div.list-box ol,
  div.list-box ul {
    padding: 4% 5%;
    text-decoration: none;
    list-style-type: none;
    color: #46442e;
    background-color: #fcfaf1;
    border: 1px solid #d2ceb0; }
    div.list-box ol li,
    div.list-box ul li {
      margin-bottom: 10px;
      transition: margin-left 0.4s ease;
      display: flex; }
    div.list-box ol li:last-child,
    div.list-box ul li:last-child {
      margin-bottom: 0; }
    div.list-box ol li:hover,
    div.list-box ul li:hover {
      cursor: pointer;
      margin-left: 14px; }
    div.list-box ol li#none:hover,
    div.list-box ul li#none:hover {
      margin-left: 0;
      cursor: default; }
    div.list-box ol li a,
    div.list-box ul li a {
      text-decoration: inherit;
      color: inherit; }
  div.list-box p {
    padding: 4% 5%;
    color: #46442e;
    background-color: #fcfaf1;
    border: 1px solid #d2ceb0; }

div.list-box#tag-box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  div.list-box#tag-box ul li {
    margin: 0 5px 0 5px;
    line-height: 30px;
    transition: transform 0.2s ease; }
  div.list-box#tag-box ul li:before {
    content: '\0023'; }
  div.list-box#tag-box ul li:hover {
    cursor: pointer;
    transform: scale(1.1); }

button.general {
  width: 85%;
  margin: 20px 0 10px 0;
  padding: 14px 0;
  background-color: #e07a5f;
  border: none;
  color: #f4f1de;
  transition: background-color 0.4s ease; }
  button.general a {
    text-decoration: none;
    color: inherit; }

button.general:hover {
  cursor: pointer;
  background-color: #e78c73; }
