.intro-text {
    margin-top: 50px;
    p {
        text-align: center;
        margin-bottom: 10px;
    }
    p a {
        font-weight: bold;
    }
}

.how-to {
    margin: 5px 0;
    h3 {
        font-weight: bold;
        margin-bottom: 20px;
    }
}

img.pie-logo {
    height: auto;
    width: 60px;
    margin: 20px 0;
}