.list-extended-name {
  width: 85%;
  display: flex;
  margin: 24px 0 12px 0;

  .arrow {
    margin-right: 6px;
  }
}

.list-box.extended ul {
  border-bottom-width: 0;
}

.page-nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  background-color: $form-backgrd;

  .arrow-btn {
    padding: 8px 5%;
    width: 10%;
    background-color: $form-backgrd;
    border: 1px solid $dark-orang;
    text-align: center;
    transition: background-color 0.3s ease;

    .arrow {
      border-color: $dark-orang;
      transition: border-color 0.3s ease;
    }

    .arrow.right {
      margin-right: 8px;
    }
  }

  .arrow-btn:hover {
    background-color: $dark-orang;
    cursor: pointer;

    .arrow {
      border-color: $form-backgrd;
    }
  }

  .current-page,
  .out-pages {
    padding: 8px 5%;
    border: 1px solid $form-border;
    background-color: $form-backgrd-lighter;
    text-align: center;
  }

  .current-page {
    width: 15%;
    border-width: 1px 0;
  }

  .out-pages {
    width: 30%;
    border-width: 1px 0 1px 1px;
  }
}
